@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
p {
  font-family: 'Poppins', sans-serif; 
}
span {
  font-family: 'Poppins', sans-serif; 
}
.navbar__container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  font-size: 12px;
  background-color: black;
  color: white;
  height: 50px;
  gap: 12px;
  /* margin-bottom: 40px; */
  position: sticky;
 
  top: 0%;
}

.navbar__shopnow {
  font-weight: bold;
  text-decoration: underline;
  margin-left: 50px;
  font-size: 13px;
  color: white;
}
.navbar__langage {
  margin-left: 400px;
  /* left: 10px; */
  font-size: 13px;
  color: white;
}
/* .Hero__container {
    margin-top: 150px;
    margin-right: 400px;
  
  } */
