/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
h3 h6 h1 h4 {
  font-family: 'Poppins', sans-serif; 
}
h2 {
  font-family: 'Poppins', sans-serif; }
.image{
    width: 200px;
}
.footes{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color:black ;
   position: static;
  
}
.ex{
    margin-left: 20px;
} */

/* .footer__img {
  width: 50px;
  filter: grayscale(100%);
} */
.footer__container {
  border-top: 1px solid #eee;
  display: flex;
  color: white;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 25px;
  background-color: black;
  margin-top: 200px;
  font-family: "poppin";
  height: 200px;
}
.image__name__footer {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.name__footer {
  font-size: 30px;
}
.social__media__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 15%;
  align-items: center;
}

.icon__footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.icon__copyright__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.icon__copyright__footer > span {
  text-align: center;
}
.contact__us__footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 15%;
}
.account__footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 15%;
}
.about__us__footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 15%;
}
.resources__footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 15%;
}
.name__footer__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 70;
}
