/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
h3 h6 h1 h4 {
  font-family: 'Poppins', sans-serif; 
}
h2 {
  font-family: 'Poppins', sans-serif; }
.image{
    width: 200px;
}
.footes{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color:black ;
   position: static;
  
}
.ex{
    margin-left: 20px;
}