/* .exclusive__container {
  display: flex;
  gap: 150px;
}

.sidebar__exclusive {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-left: 80px;
  border-color: 1;
}
.woman__fashion__exclusive {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.man__fashion__exclusive {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.exclusive__img {
  width: 800px;
  height: 350px;
} */
/* .swiper__exclusive {
  width: 75%;
  height: 300px;
} */
/* .img_swipe_exclsive {
  width: 100%;
  height: 450px;
}
.swiper-button-prev {
  color: grey;
} */
.exclusive__container {
  display: flex;
  gap: 150px;

}

.sidebar__exclusive {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-left: 80px;
  border-color: 1;
}
.woman__fashion__exclusive {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.man__fashion__exclusive {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.exclusive__img {
  width: 800px;
  height: 350px;
}
.swiper__exclusive {
  width: 75%;
  height: 300px;
}
.img_swipe_exclsive {
  width: 100%;
  height: 450px;
}
.swiper-button-prev {
  color: grey;
}
